workflows/outlook-invoices-processing.json
{
  "name": "Outlook Invoices Processing",
  "nodes": [
    {
      "parameters": {},
      "id": "aa50f3cc-bd92-44c8-b639-5b8b830e87ef",
      "name": "▶️ Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2896,
        480
      ]
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Extract invoice data from this document . Return ONLY valid JSON (no markdown, no explanation):\n{\n  \"supplier_company\": \"supplier company name\",\n  \"customer_tax_id\": \"customer Polish Tax-Id (NIP) for QAgile company i.e. 5272928285 or 6171862496\",\n  \"customer_company\": \"company name\",\n  \"invoice_number\": \"invoice number string with numer like 123/12/22\",\n  \"invoice_issued_date\": \"YYYY-MM-DD\",\n\"invoice_issued_year\": \"year of issued date in YYYY format i.e. 2025\"\n\"invoice_issued_month-pl\": \"polish name of the issue data month if format MM Monthname i.e. 11 Listopad\",\n  \"invoice_amount_net\": 0.00,\n  \"invoice_amount_tax\": 0.00,\n  \"invoice_amount_gross\": 0.00,\n  \"currency\": \"international format like PLN, USD, EUR\",\n  \"category\": \"short-descriptive-slug\"\n}\n\nCATEGORY SLUG RULES:\n- Use 2-3 words maximum\n- Lowercase, dash-separated (kebab-case)\n- BE SPECIFIC: describe the actual service/product\n- Use English or recognizable brand names\n\nEXAMPLES:\n- Adobe Creative Cloud → \"adobe\"\n- Microsoft Office 365 → \"msoffice\"\n- Fuel/Gas station → \"paliwo\"\n- Car repair Dacia → \"dacia\"\n- Training course → \"szkolenie-agile\" or \"pspo-training\"\n- Medical insurance Medicover → \"medicover\"\n- Mobile Orange → \"orange\"\n- Anthropic API → \"anthropic\"\n- Mailchimp subscription → \"mailchimp\"\n- Office supplies → \"biuro\"\n- Printing services → \"wydruk\"\n- AWS cloud → \"aws\"\n- Car paint/supplies → \"lakier-auto\" or \"farba-volvo\"",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        64,
        576
      ],
      "id": "1f1f5e81-3d47-46c5-8ea7-2d1709256cc3",
      "name": "Analyze document",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "wYQ2FRD5kxf1pBqT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "46f581fb-6ba6-4389-87a4-c2cf451af836",
      "name": "Any Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2448,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasAttachments }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "f4d04b42-eff6-4b5c-b372-ffa3a1a0249f",
      "name": "Has attachment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2224,
        480
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filtersUI": {
          "values": {
            "filters": {
              "foldersToInclude": [
                "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAbkqOmBAAA="
              ],
              "readStatus": "unread"
            }
          }
        },
        "options": {}
      },
      "id": "17b39714-9677-4070-b93f-c4e8368ffb15",
      "name": "Fetch Unread Emails",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -2672,
        480
      ],
      "webhookId": "264d6487-dc64-4208-b981-ce2c79b324f0",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "fields": []
        }
      },
      "id": "9d45cd9c-76f2-49dd-827c-b7547e03927a",
      "name": "Get Attachments",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1776,
        208
      ],
      "webhookId": "d75ec46e-3153-427c-8d3b-cbb63ac9f816",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f68867d2-bc3a-4ed9-9b64-c7c957de0eb4",
              "leftValue": "={{ $json.contentType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        208
      ],
      "id": "08928542-98a9-4a6b-aa22-0448b53845d7",
      "name": "PDF?"
    },
    {
      "parameters": {
        "content": "## Fetch PDF attachements ",
        "height": 432,
        "width": 1728,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        128
      ],
      "typeVersion": 1,
      "id": "663ff102-1673-4abe-92c2-05a10b36ab99",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "output": "fields",
        "fields": [
          "body"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1936,
        720
      ],
      "id": "da53494b-b7d7-4c50-bcc2-2e6983c29a20",
      "name": "Get message body",
      "webhookId": "b29af958-f0d2-4613-bb2d-78031fe128e4",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e31f8861-a441-40e2-baa7-4317d206b0fb",
              "leftValue": "={{ $json.headers[\"content-type\"] }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -832,
        784
      ],
      "id": "f272ca7a-c542-4a79-84a9-a65d3203d638",
      "name": "Filter PDFs"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1056,
        784
      ],
      "id": "3eb384d2-fd69-4354-ae35-6089f77e4fd4",
      "name": "Fetch URL1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const bodyRaw = $json.body || '';\nlet body = '';\nif (typeof bodyRaw === 'string') {\n  body = bodyRaw;\n} else if (bodyRaw && bodyRaw.content) {\n  body = String(bodyRaw.content);\n} else if (bodyRaw) {\n  body = JSON.stringify(bodyRaw);\n}\n\nconst plainUrlPattern = /https?:\\/\\/[^\\s<>\"']+/gi;\nconst matches = body.match(plainUrlPattern);\nconst allUrls = matches ? matches : [];\n\nconst objectReturned = {json: {\n    messageId : $json.id,\n    links: allUrls\n  }\n}\n\nreturn objectReturned"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        864
      ],
      "id": "e2792ee9-cee4-4e67-887a-3caadfa23a8b",
      "name": "Get links from message body"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1504,
        864
      ],
      "id": "1583882d-8e07-4d3a-9e39-906a90ce1668",
      "name": "Loop Over Links"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1280,
        784
      ],
      "id": "e55e2a53-52d3-4c53-8a5c-0b7c7f280bf3",
      "name": "Split URLs"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const messageId = $('Get message body').item.json.id;\nconst pdfFile = $binary.data;\n\nreturn {\n  json: { \n    messageId: messageId \n  },\n  binary: $input.item.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        864
      ],
      "id": "8f929728-f1df-401c-bd28-5bbdfba0af61",
      "name": "Prepare Output"
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Has attachment').item.json.id }}",
          "mode": "id"
        },
        "attachmentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1328,
        208
      ],
      "id": "9ed599fd-920f-4966-ac3d-6fb01b159de0",
      "name": "Download attachment",
      "webhookId": "66771a3d-4f76-4bff-9d19-ec33d48029da",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const messageId = $json.id;\n\n\nreturn {\n  json: { \n    messageId: messageId \n  },\n  binary: $input.item.binary\n};\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        208
      ],
      "id": "03ed7eb1-6697-4a71-b366-fc287c4bf72a",
      "name": "Prepare Output1"
    },
    {
      "parameters": {
        "jsCode": "return {};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        1056
      ],
      "id": "ca508d7e-8f41-4c91-9e51-f7728cecc41a",
      "name": "Continue"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst messageId = $json.messageId;\n\nreturn {\n  json: { \n    messageId: messageId,\n    fileName: $json.fileName,\n    mimeType: $json.mimeType\n  },\n  binary: $input.item.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        656
      ],
      "id": "3420a966-1e7e-4842-b335-da906ea30dcb",
      "name": "Prepare Output2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb8f5ccd-7d12-4d0f-8410-2b71dcff4de8",
              "leftValue": "={{ Object.keys($binary).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1312,
        640
      ],
      "id": "0d97105a-4cb2-4ada-87d1-31c979e8a03b",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Fetch PDFs from links",
        "height": 736,
        "width": 1728
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        592
      ],
      "typeVersion": 1,
      "id": "1b1cffe6-8f71-4955-a0cf-e9bd9bf79413",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": " // Parse and validate Gemini response\n  const item = $input.item;\n\n  // Check for errors\n  if (item.json.error) {\n    return {\n      json: {\n        isValid: false,\n        validationError: 'Gemini extraction failed',\n        messageId: item.json.messageId\n      }\n    };\n  }\n\n  // Get the text response from the correct path and clean markdown\n  let response = item.json.content?.parts?.[0]?.text || item.json.text || '';\n  response = response.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n\n  try {\n    const data = JSON.parse(response);\n\n    const isValid =\n      (data.customer_tax_id === null || data.customer_tax_id?.length >= 10) &&\n      data.customer_company?.length > 0 &&\n      data.invoice_issued_date?.match(/\\d{4}-\\d{2}-\\d{2}/) &&\n      data.invoice_number?.length > 0 &&\n      data.invoice_amount_gross !== undefined &&\n      data.currency?.length >= 3 &&\n      data.category?.length > 0;\n\n    return {\n      json: {\n        ...data,\n        isValid: isValid,\n        validationError: isValid ? null : 'Missing or invalid required fields',\n        messageId: item.json.messageId\n      },\n      binary: $('Analyze document').item.binary\n    };\n\n  } catch (e) {\n    return {\n      json: {\n        isValid: false,\n        validationError: 'JSON parse failed: ' + e.message,\n        rawResponse: response.substring(0, 200),\n        messageId: item.json.messageId\n      }\n    };\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        576
      ],
      "id": "8a29491f-bd7a-4fa7-b5f2-28482ecd9ea0",
      "name": "Validate Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9979a91-7af3-4350-85c9-743d40b1d6f0",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        576
      ],
      "id": "09dbd881-6b81-494a-8696-d5a964a0ee02",
      "name": "Invoice Data Valid?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "= {{ $json.customer_company }}",
                    "rightValue": "QAgile Agnieszka",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "09d5a9e2-10ef-407c-a5ee-f6048cce5202"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "03145797-e043-4c75-81a1-a45e19f471e2",
                    "leftValue": "= {{ $json.customer_company }}",
                    "rightValue": "QAgile S",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        688,
        480
      ],
      "id": "38f6e8ab-b1da-4b6a-91ae-629ae17139e2",
      "name": "JDG or INC?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d104df1-45fd-4b4d-8a61-7fb7e4de2f06",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        -624
      ],
      "id": "884fe21a-f3f1-4f3c-a7b8-a92bb591ba22",
      "name": "Check Current Year Folder1"
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.destinationFolder }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        848,
        -608
      ],
      "id": "283c8104-bfa4-4863-a986-363ad9625274",
      "name": "Get items in a folder1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65fe9802-0006-46fb-bbf1-5b2ca5d75a5b",
              "name": "destinationFolder",
              "value": "01VRIEXDMU3JIBMPTQZVDIPSQRP2PHT27U",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -608
      ],
      "id": "1a790a80-b649-42d5-92fe-b31e99b9e099",
      "name": "Spółka Destination",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d104df1-45fd-4b4d-8a61-7fb7e4de2f06",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ new Date().getFullYear().toString() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6ec3c878-4a60-46d7-aeea-0711b410bb9e",
              "leftValue": "={{ $json.folder }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        -912
      ],
      "id": "0844ae3e-3aee-4b96-92e4-9e03928ec2ba",
      "name": "Check Current Year Folder"
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.destinationFolder }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        832,
        -880
      ],
      "id": "b9677310-1406-4055-9cde-538e09003c07",
      "name": "Get items in a folder",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65fe9802-0006-46fb-bbf1-5b2ca5d75a5b",
              "name": "destinationFolder",
              "value": "01VRIEXDIR2USVY7CD6JCYMFAHVJEMFJ53",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -832
      ],
      "id": "69c9ae94-0f43-4050-a476-c5fdb32db103",
      "name": "JDG Destination",
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1472,
        -944
      ],
      "id": "d17e402b-1a60-4378-954a-44e09f3a53dc",
      "name": "Get Months Folders JDG",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1488,
        -656
      ],
      "id": "f538d7ff-bfa1-4085-b10c-8678e6e7c10a",
      "name": "Get Months Folders INC",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " // Get invoice data                                                                                                      \n  const invoiceData = $('Invoice Data Valid?').first().json;\n  const invoiceMonth = invoiceData['invoice_issued_month-pl'];\n                                                                                                                           \n  // Get all month folders from the current year folder                                                                    \n  const folders = $('Get Months Folders JDG').all();                                                                       \n                                                                                                                           \n  // Find matching month folder                      \n  const matchingFolder = folders.find(folder => folder.json.name === invoiceMonth);\n\n\nif (matchingFolder) {\n  \n  const dateCompact = (invoiceData.invoice_issued_date || '').replace(/-/g, '');\n  const category = (invoiceData.category || 'unknown').toLowerCase();\n  const fileName = `${dateCompact}-${category}.pdf`;\n  \n  return [{\n    json: {\n      folderId: matchingFolder.json.id,\n      folderName: matchingFolder.json.name,\n      folderPath: matchingFolder.json.webUrl,\n      fileName: fileName\n    },\n    binary: $('StoreFile').item.binary\n  }];\n} else {\n  throw new Error(`No folder found for month: ${invoiceMonth}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        384
      ],
      "id": "1492c640-882d-4419-98c7-41d1982f6183",
      "name": "SelectJDGFolder"
    },
    {
      "parameters": {
        "jsCode": "// Get the month from invoice data\nconst invoiceMonth = $('Invoice Data Valid?').first().json['invoice_issued_month-pl'];\n\nconst invoiceData = $('Invoice Data Valid?').first().json;\n\n// Or if passed as input: $input.first().json[\"invoice_issued_month-pl\"]\n\n// Get all folders from the previous node\nconst folders = $('Get Months Folders INC').all();\n\n\n// Find matching folder\nconst matchingFolder = folders.find(folder => folder.json.name === invoiceMonth);\n\n const dateCompact = (invoiceData.invoice_issued_date || '').replace(/-/g, '');\n  const category = (invoiceData.category || 'unknown').toLowerCase();\n  const fileName = `${dateCompact}-${category}.pdf`;\n\nif (matchingFolder) {\n  return [{\n    json: {\n      folderId: matchingFolder.json.id,\n      folderName: matchingFolder.json.name,\n      folderPath: matchingFolder.json.webUrl,\n      fileName: fileName\n    },\n    binary: $('StoreFile').item.binary\n  }]\n} else {\n  throw new Error(`No folder found for month: ${invoiceMonth}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        704
      ],
      "id": "7ad879fa-a160-431b-ad0e-d91a6710bf1f",
      "name": "SelectINCFolder"
    },
    {
      "parameters": {
        "fileName": "{{ $json.fileName }}",
        "parentId": "={{ $json.folderId }}",
        "binaryData": true,
        "binaryPropertyName": "=currentFile"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1248,
        384
      ],
      "id": "46dec221-05a4-4534-9104-fff212c8b45c",
      "name": "Upload a file1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec096b23-f3ce-4f96-b930-3c2963da10b3",
              "name": "currentFile",
              "value": "data",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        16
      ],
      "id": "b34f895d-3884-4444-9441-cc3f0e20d52d",
      "name": "StoreFile"
    },
    {
      "parameters": {
        "fileName": "{{ $json.fileName }}",
        "parentId": "={{ $json.folderId }}",
        "binaryData": true,
        "binaryPropertyName": "=currentFile"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1344,
        624
      ],
      "id": "ed7de5ae-b26c-4fa3-a1a2-885f260d82a2",
      "name": "Upload a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "01VRIEXDKHG4RIJ75HYNEIK523PBMUVHR7",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Record"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "  fileName",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "column": "  category",
              "fieldValue": "={{ $('Validate Data').item.json.category }}"
            },
            {
              "column": "invoice_number",
              "fieldValue": "={{ $('Validate Data').item.json.invoice_number }}"
            },
            {
              "column": "  folderPath",
              "fieldValue": "={{ $json.parentReference.path }}"
            },
            {
              "column": "  processed_date",
              "fieldValue": "={{ new Date().toISOString().replace('T', ' ').substring(0, 19) }}"
            },
            {
              "column": "  invoice_amount_net",
              "fieldValue": "={{ $('Validate Data').item.json.invoice_amount_net }}"
            },
            {
              "column": "  invoice_amount_gross",
              "fieldValue": "={{ $('Validate Data').item.json.invoice_amount_gross }}"
            },
            {
              "column": "  supplier_company",
              "fieldValue": "={{ $('Validate Data').item.json.supplier_company }}"
            },
            {
              "column": "  invoice_issued_date",
              "fieldValue": "={{ $('Validate Data').item.json.invoice_issued_date }}"
            },
            {
              "column": "  currency",
              "fieldValue": "={{ $('Validate Data').item.json.currency }}"
            },
            {
              "column": "  customer_tax_id",
              "fieldValue": "={{ $('Validate Data').item.json.customer_tax_id }}"
            },
            {
              "column": "  customer_company",
              "fieldValue": "={{ $('Validate Data').item.json.customer_company }}"
            },
            {
              "column": "  invoice_amount_tax",
              "fieldValue": "={{ $('Validate Data').item.json.invoice_amount_tax }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        1456,
        384
      ],
      "id": "0b294420-e7cf-4561-a826-c6282f8fa0e1",
      "name": "Append data to sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "3Qgyi4TOXVMCtl4f",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "01VRIEXDKHG4RIJ75HYNEIK523PBMUVHR7",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Record"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "  fileName",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "column": "  category",
              "fieldValue": "={{ $('Validate Data').item.json.category }}"
            },
            {
              "column": "invoice_number",
              "fieldValue": "={{ $('Validate Data').item.json.invoice_number }}"
            },
            {
              "column": "  folderPath",
              "fieldValue": "={{ $json.parentReference.path }}"
            },
            {
              "column": "  processed_date",
              "fieldValue": "={{ new Date().toISOString().replace('T', ' ').substring(0, 19) }}"
            },
            {
              "column": "  invoice_amount_net",
              "fieldValue": "={{ $('Validate Data').item.json.invoice_amount_net }}"
            },
            {
              "column": "  invoice_amount_gross",
              "fieldValue": "={{ $('Validate Data').item.json.invoice_amount_gross }}"
            },
            {
              "column": "  supplier_company",
              "fieldValue": "={{ $('Validate Data').item.json.supplier_company }}"
            },
            {
              "column": "  invoice_issued_date",
              "fieldValue": "={{ $('Validate Data').item.json.invoice_issued_date }}"
            },
            {
              "column": "  currency",
              "fieldValue": "={{ $('Validate Data').item.json.currency }}"
            },
            {
              "column": "  customer_tax_id",
              "fieldValue": "={{ $('Validate Data').item.json.customer_tax_id }}"
            },
            {
              "column": "  customer_company",
              "fieldValue": "={{ $('Validate Data').item.json.customer_company }}"
            },
            {
              "column": "  invoice_amount_tax",
              "fieldValue": "={{ $('Validate Data').item.json.invoice_amount_tax }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        1616,
        624
      ],
      "id": "18c8692f-90f4-4fb4-8a3f-c92925bd6231",
      "name": "Append data to sheet1",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "3Qgyi4TOXVMCtl4f",
          "name": "Microsoft Excel account"
        }
      }
    }
  ],
  "pinData": {
    "Fetch Unread Emails": [
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQBGAAAAAABOSfow5RrEQacahtB9BQQVBwBzM-ExZr6IQpojMXAqHAiEAAbkqOmBAABzM-ExZr6IQpojMXAqHAiEAAdFuLkEAAA=",
          "conversationId": "AAQkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAQAIfpc4AOvp5Mk5v-qCiwltY=",
          "subject": "Your receipt from Anthropic, PBC #2538-7566-7066",
          "bodyPreview": "Your receipt from Anthropic, PBC #2538-7566-7066  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏ ",
          "from": "invoice+statements@mail.anthropic.com",
          "to": [
            "krystian.kaczor@qagile.pl"
          ],
          "categories": [],
          "hasAttachments": true
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQBGAAAAAABOSfow5RrEQacahtB9BQQVBwBzM-ExZr6IQpojMXAqHAiEAAbkqOmBAABzM-ExZr6IQpojMXAqHAiEAAdFuLkDAAA=",
          "conversationId": "AAQkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAQADDZLer8mUIMtSVnweeK4zM=",
          "subject": "G43 Office Center - godziny pracy recepcji 10/11/2025",
          "bodyPreview": "Szanowni Państwo,\r\n\r\nw poniedziałek (10/11/2025)  recepcja G43 Office Center będzie czynna w godzinach: 8:30 – 15:00\r\n\r\nZa ewentualne utrudnienia przepraszamy,\r\n\r\nDear Sirs,\r\n\r\non Monday – November 10th, reception will be open from 8:30 a.m. to 3:00 p.m.",
          "from": "recepcja@g43office.pl",
          "to": [
            "recepcja@g43office.pl"
          ],
          "categories": [],
          "hasAttachments": false
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQBGAAAAAABOSfow5RrEQacahtB9BQQVBwBzM-ExZr6IQpojMXAqHAiEAAbkqOmBAABzM-ExZr6IQpojMXAqHAiEAAdD_GYSAAA=",
          "conversationId": "AAQkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAQAEQUFhrCw0EujUPEVzru-Is=",
          "subject": "Faktura",
          "bodyPreview": "Dzień dobry,\r\n\r\nPrzesyłam w załączeniu nową fakturę.\r\nW przypadku nie przekazania należnej sumy w wyznaczonym terminie od dnia 18/11/2025 będziemy Państwu naliczać odsetki.\r\n\r\nPozdrawiam,\r\n\r\nPaweł Jaworski\r\n\r\nCustomer Service Specialist\r\n\r\n\r\nUl. Grzybowsk",
          "from": "recepcja@g43office.pl",
          "to": [
            "krystian.kaczor@qagile.pl",
            "agnieszka.kaczor@qagile.pl"
          ],
          "categories": [],
          "hasAttachments": true
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQBGAAAAAABOSfow5RrEQacahtB9BQQVBwBzM-ExZr6IQpojMXAqHAiEAAbkqOmBAABzM-ExZr6IQpojMXAqHAiEAAdAlxaGAAA=",
          "conversationId": "AAQkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAQADv4nuQg_0i_rRBhyIkZ4UY=",
          "subject": "G43 Office Center - godziny pracy recepcji 31/10/2025",
          "bodyPreview": "Szanowni Państwo,\r\n\r\njutro (31/10/2025)  recepcja G43 Office Center będzie czynna w godzinach: 8:30 – 15:30\r\n\r\nZa ewentualne utrudnienia przepraszamy,\r\n\r\nDear Sirs,\r\n\r\nTomorrow – October 31st, reception will be open from 8:30 a.m. to 3:30 p.m.\r\n\r\nWe apolo",
          "from": "recepcja@g43office.pl",
          "to": [
            "recepcja@g43office.pl"
          ],
          "categories": [],
          "hasAttachments": false
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQBGAAAAAABOSfow5RrEQacahtB9BQQVBwBzM-ExZr6IQpojMXAqHAiEAAbkqOmBAABzM-ExZr6IQpojMXAqHAiEAAc-MGHFAAA=",
          "conversationId": "AAQkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAQAJXvx3R3yDpGlLLdlWCRbYU=",
          "subject": "Invoice Receipt for Order 2S858052",
          "bodyPreview": "131 Middlesex Turnpike, Burlington, MA 01803, USA\r\n________________________________\r\n\r\n\r\nThank you for placing your order with Scrum.org!\r\n\r\nClick here to download a PDF copy of your Invoice\r\n\r\n________________________________\r\n\r\nDate 10/28/2025\r\n\r\n\r\nBi",
          "from": "support@scrum.org",
          "to": [
            "krystian.kaczor@qagile.pl"
          ],
          "categories": [],
          "hasAttachments": false
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQBGAAAAAABOSfow5RrEQacahtB9BQQVBwBzM-ExZr6IQpojMXAqHAiEAAbkqOmBAABzM-ExZr6IQpojMXAqHAiEAAc7_8gUAAA=",
          "conversationId": "AAQkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAQAK87W1AyHV5Is1nS_-oOCyY=",
          "subject": "Invoice Receipt for Order 2S856987",
          "bodyPreview": "131 Middlesex Turnpike, Burlington, MA 01803, USA\r\n________________________________\r\n\r\n\r\nThank you for placing your order with Scrum.org!\r\n\r\nClick here to download a PDF copy of your Invoice\r\n\r\n________________________________\r\n\r\nDate 10/22/2025\r\n\r\n\r\nBi",
          "from": "support@scrum.org",
          "to": [
            "krystian.kaczor@qagile.pl"
          ],
          "categories": [],
          "hasAttachments": false
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQBGAAAAAABOSfow5RrEQacahtB9BQQVBwBzM-ExZr6IQpojMXAqHAiEAAbkqOmBAABzM-ExZr6IQpojMXAqHAiEAAc6WTO5AAA=",
          "conversationId": "AAQkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAQADTvABxYUlRCnG8LnPFeYcA=",
          "subject": "Invoice Receipt for Order 2S856661",
          "bodyPreview": "131 Middlesex Turnpike, Burlington, MA 01803, USA\r\n________________________________\r\n\r\n\r\nThank you for placing your order with Scrum.org!\r\n\r\nClick here to download a PDF copy of your Invoice\r\n\r\n________________________________\r\n\r\nDate 10/21/2025\r\n\r\n\r\nBi",
          "from": "support@scrum.org",
          "to": [
            "krystian.kaczor@qagile.pl"
          ],
          "categories": [],
          "hasAttachments": false
        }
      }
    ],
    "Analyze document": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "```json\n{\n  \"supplier_company\": \"Scrum.org\",\n  \"customer_tax_id\": \"5272928285\",\n  \"customer_company\": \"QAgile Sp. z o.o. Sp. k.\",\n  \"invoice_number\": \"2S858052\",\n  \"invoice_issued_date\": \"2025-10-28\",\n  \"invoice_issued_year\": \"2025\",\n  \"invoice_issued_month-pl\": \"10 Październik\",\n  \"invoice_amount_net\": 300.00,\n  \"invoice_amount_tax\": 0.00,\n  \"invoice_amount_gross\": 300.00,\n  \"currency\": \"USD\",\n  \"category\": \"pspo-training\"\n}\n```"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "```json\n{\n  \"supplier_company\": \"Scrum.org\",\n  \"customer_tax_id\": \"\",\n  \"customer_company\": \"QAgile Sp. z o.o. Sp. k.\",\n  \"invoice_number\": \"2S856987\",\n  \"invoice_issued_date\": \"2025-10-22\",\n  \"invoice_issued_year\": \"2025\",\n  \"invoice_issued_month-pl\": \"10 Październik\",\n  \"invoice_amount_net\": 200.00,\n  \"invoice_amount_tax\": 0.00,\n  \"invoice_amount_gross\": 200.00,\n  \"currency\": \"USD\",\n  \"category\": \"sps-training\"\n}\n```"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "{\n  \"supplier_company\": \"Scrum.org\",\n  \"customer_tax_id\": \"\",\n  \"customer_company\": \"QAgile Sp. z o.o. Sp. k.\",\n  \"invoice_number\": \"2S856661\",\n  \"invoice_issued_date\": \"2025-10-21\",\n  \"invoice_issued_year\": \"2025\",\n  \"invoice_issued_month-pl\": \"10 Październik\",\n  \"invoice_amount_net\": 200.00,\n  \"invoice_amount_tax\": 0.00,\n  \"invoice_amount_gross\": 200.00,\n  \"currency\": \"USD\",\n  \"category\": \"psm-training\"\n}"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        },
        "pairedItem": {
          "item": 2
        }
      }
    ],
    "Validate Data": [
      {
        "json": {
          "supplier_company": "Scrum.org",
          "customer_tax_id": "5272928285",
          "customer_company": "QAgile Sp. z o.o. Sp. k.",
          "invoice_number": "2S858052",
          "invoice_issued_date": "2025-10-28",
          "invoice_issued_year": "2025",
          "invoice_issued_month-pl": "10 Październik",
          "invoice_amount_net": 300,
          "invoice_amount_tax": 0,
          "invoice_amount_gross": 300,
          "currency": "USD",
          "category": "pspo-training",
          "isValid": true,
          "validationError": null
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "supplier_company": "Scrum.org",
          "customer_tax_id": "",
          "customer_company": "QAgile Sp. z o.o. Sp. k.",
          "invoice_number": "2S856987",
          "invoice_issued_date": "2025-10-22",
          "invoice_issued_year": "2025",
          "invoice_issued_month-pl": "10 Październik",
          "invoice_amount_net": 200,
          "invoice_amount_tax": 0,
          "invoice_amount_gross": 200,
          "currency": "USD",
          "category": "sps-training",
          "isValid": false,
          "validationError": "Missing or invalid required fields"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "supplier_company": "Scrum.org",
          "customer_tax_id": "",
          "customer_company": "QAgile Sp. z o.o. Sp. k.",
          "invoice_number": "2S856661",
          "invoice_issued_date": "2025-10-21",
          "invoice_issued_year": "2025",
          "invoice_issued_month-pl": "10 Październik",
          "invoice_amount_net": 200,
          "invoice_amount_tax": 0,
          "invoice_amount_gross": 200,
          "currency": "USD",
          "category": "psm-training",
          "isValid": false,
          "validationError": "Missing or invalid required fields"
        },
        "pairedItem": {
          "item": 2
        }
      }
    ]
  },
  "connections": {
    "▶️ Start": {
      "main": [
        [
          {
            "node": "Fetch Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Emails?": {
      "main": [
        [
          {
            "node": "Has attachment",
            "type": "main",
            "index": 0
          },
          {
            "node": "JDG Destination",
            "type": "main",
            "index": 0
          },
          {
            "node": "Spółka Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has attachment": {
      "main": [
        [
          {
            "node": "Get Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get message body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unread Emails": {
      "main": [
        [
          {
            "node": "Any Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachments": {
      "main": [
        [
          {
            "node": "PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF?": {
      "main": [
        [
          {
            "node": "Download attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message body": {
      "main": [
        [
          {
            "node": "Get links from message body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL1": {
      "main": [
        [
          {
            "node": "Filter PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PDFs": {
      "main": [
        [
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get links from message body": {
      "main": [
        [
          {
            "node": "Loop Over Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Links": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split URLs": {
      "main": [
        [
          {
            "node": "Fetch URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output": {
      "main": [
        [
          {
            "node": "Loop Over Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download attachment": {
      "main": [
        [
          {
            "node": "Prepare Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output1": {
      "main": [
        [
          {
            "node": "StoreFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue": {
      "main": [
        [
          {
            "node": "Loop Over Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output2": {
      "main": [
        [
          {
            "node": "StoreFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prepare Output2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "Invoice Data Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Data Valid?": {
      "main": [
        [
          {
            "node": "JDG or INC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDG or INC?": {
      "main": [
        [
          {
            "node": "SelectJDGFolder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SelectINCFolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Year Folder1": {
      "main": [
        [
          {
            "node": "Get Months Folders INC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items in a folder1": {
      "main": [
        [
          {
            "node": "Check Current Year Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spółka Destination": {
      "main": [
        [
          {
            "node": "Get items in a folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Year Folder": {
      "main": [
        [
          {
            "node": "Get Months Folders JDG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items in a folder": {
      "main": [
        [
          {
            "node": "Check Current Year Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDG Destination": {
      "main": [
        [
          {
            "node": "Get items in a folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Months Folders JDG": {
      "main": [
        [
          {
            "node": "JDG or INC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Months Folders INC": {
      "main": [
        [
          {
            "node": "JDG or INC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SelectJDGFolder": {
      "main": [
        [
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SelectINCFolder": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StoreFile": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file1": {
      "main": [
        [
          {
            "node": "Append data to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Append data to sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "039a06e1-0114-4b72-aec0-77e88cb92326",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8af463c3a1c8c1c27ad66af312247488390cc524503942b2fa0e78016f32ae38"
  },
  "id": "aGu19fNOGsMOi4BZ",
  "tags": []
}