workflows/outlook-invoices-processing.json
{
  "name": "Outlook Invoices Processing",
  "nodes": [
    {
      "parameters": {},
      "id": "97863b02-bb28-4edd-8fd8-c90fa59d0840",
      "name": "▶️ Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -9088,
        -2400
      ]
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Extract invoice data from this document . Return ONLY valid JSON (no markdown, no explanation):\n{\n  \"supplier_company\": \"supplier company name\",\n  \"customer_tax_id\": \"customer Polish Tax-Id (NIP) for QAgile company i.e. 5272928285 or 6171862496\",\n  \"customer_company\": \"company name\",\n  \"invoice_number\": \"invoice number string with numer like 123/12/22\",\n  \"invoice_issued_date\": \"YYYY-MM-DD\",\n\"invoice_issued_year\": \"year of issued date in YYYY format i.e. 2025\"\n\"invoice_issued_month-pl\": \"polish name of the issue data month if format MM Monthname i.e. 11 Listopad\",\n  \"invoice_amount_net\": 0.00,\n  \"invoice_amount_tax\": 0.00,\n  \"invoice_amount_gross\": 0.00,\n  \"currency\": \"international format like PLN, USD, EUR\",\n  \"category\": \"short-descriptive-slug\"\n}\n\nCATEGORY SLUG RULES:\n- Use 2-3 words maximum\n- Lowercase, dash-separated (kebab-case)\n- BE SPECIFIC: describe the actual service/product\n- Use English or recognizable brand names\n\nEXAMPLES:\n- Adobe Creative Cloud → \"adobe\"\n- Microsoft Office 365 → \"msoffice\"\n- Fuel/Gas station → \"paliwo\"\n- Car repair Dacia → \"dacia\"\n- Training course → \"szkolenie-agile\" or \"pspo-training\"\n- Medical insurance Medicover → \"medicover\"\n- Mobile Orange → \"orange\"\n- Anthropic API → \"anthropic\"\n- Mailchimp subscription → \"mailchimp\"\n- Office supplies → \"biuro\"\n- Printing services → \"wydruk\"\n- AWS cloud → \"aws\"\n- Car paint/supplies → \"lakier-auto\" or \"farba-volvo\"",
        "inputType": "binary",
        "binaryPropertyName": "=currentFile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -6176,
        -2144
      ],
      "id": "aa09fae1-89e1-44d3-85b9-1628b4b8ad88",
      "name": "Analyze document",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "wYQ2FRD5kxf1pBqT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger"
            }
          ],
          "string": [
            {
              "value1": "={{ $json.isRead }}",
              "value2": "={{ false }}"
            }
          ]
        }
      },
      "id": "e3229774-d209-43f7-a6a0-0d5f26f5b3b0",
      "name": "Any Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -8640,
        -2400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasAttachments }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "060ec4a4-f887-40da-9ea0-3d1897c5e03e",
      "name": "Has attachment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -8416,
        -2144
      ]
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "fields": []
        }
      },
      "id": "e3c4c94d-3d3a-4a51-b5f9-dd112a3f4aac",
      "name": "Get Attachments",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -7296,
        -2320
      ],
      "webhookId": "d75ec46e-3153-427c-8d3b-cbb63ac9f816",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f68867d2-bc3a-4ed9-9b64-c7c957de0eb4",
              "leftValue": "={{ $json.contentType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7072,
        -2320
      ],
      "id": "1d05782a-7a9c-4ce7-b45d-6a970c954ab6",
      "name": "PDF?"
    },
    {
      "parameters": {
        "content": "## Fetch PDF attachements ",
        "height": 192,
        "width": 1312,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7728,
        -2352
      ],
      "typeVersion": 1,
      "id": "d6938ed4-df3b-4c7b-9102-865b209d2b6d",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "output": "fields",
        "fields": [
          "body"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -8192,
        -2048
      ],
      "id": "03e9c20d-970e-4543-aeda-790d070b6d5a",
      "name": "Get message body",
      "webhookId": "b29af958-f0d2-4613-bb2d-78031fe128e4",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e31f8861-a441-40e2-baa7-4317d206b0fb",
              "leftValue": "={{ $json.headers[\"content-type\"] }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -7216,
        -1664
      ],
      "id": "004aba03-82db-4245-a8b8-24e2c63135e5",
      "name": "Filter PDFs"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7440,
        -1664
      ],
      "id": "71897beb-daef-4a6d-920c-57ce29ef965a",
      "name": "Fetch URL1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const bodyRaw = $json.body || '';\nlet body = '';\nif (typeof bodyRaw === 'string') {\n  body = bodyRaw;\n} else if (bodyRaw && bodyRaw.content) {\n  body = String(bodyRaw.content);\n} else if (bodyRaw) {\n  body = JSON.stringify(bodyRaw);\n}\n\nconst plainUrlPattern = /https?:\\/\\/[^\\s<>\"']+/gi;\nconst matches = body.match(plainUrlPattern);\nconst allUrls = matches ? matches : [];\n\nconst objectReturned = {json: {\n    messageId : $json.id,\n    links: allUrls\n  }\n}\n\nreturn objectReturned"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7888,
        -1664
      ],
      "id": "38f3f317-adf9-4965-b910-d8030d87e2a2",
      "name": "Get links from message body"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -7664,
        -1664
      ],
      "id": "54cbb6f2-9d9b-4a7a-9d87-d34405a0bda5",
      "name": "Split URLs"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const messageId = $('Get message body').item.json.id;\nconst pdfFile = $binary.data;\n\nreturn {\n  json: { \n    messageId: messageId \n  },\n  binary: $input.item.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6992,
        -1664
      ],
      "id": "b3087631-171f-4063-ab9b-2a73a3f3d508",
      "name": "Prepare Output"
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Has attachment').item.json.id }}",
          "mode": "id"
        },
        "attachmentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -6848,
        -2320
      ],
      "id": "1bf8992d-60b9-46ad-ae36-dc9e4bdc7180",
      "name": "Download attachment",
      "webhookId": "66771a3d-4f76-4bff-9d19-ec33d48029da",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const messageId = $json.id;\n\n\nreturn {\n  json: { \n    messageId: messageId \n  },\n  binary: $input.item.binary\n};\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6624,
        -2320
      ],
      "id": "b2a13229-36cb-4d0c-bc9e-7c3e0b29266f",
      "name": "Prepare Output1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst messageId = $json.messageId;\n\nreturn {\n  json: { \n    messageId: messageId,\n    fileName: $json.fileName,\n    mimeType: $json.mimeType\n  },\n  binary: $input.item.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6544,
        -1664
      ],
      "id": "0a84d8ef-cc67-4c6c-a602-b15a469a7c07",
      "name": "Prepare Output2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb8f5ccd-7d12-4d0f-8410-2b71dcff4de8",
              "leftValue": "={{ Object.keys($binary).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6768,
        -1664
      ],
      "id": "9a06e439-cbb0-4a39-964a-323c48389f8b",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Fetch PDFs from links",
        "height": 320,
        "width": 1792
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8224,
        -1744
      ],
      "typeVersion": 1,
      "id": "dc26cf2b-87f1-435b-8804-6aee97649827",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": " // Parse and validate Gemini response\n  const item = $input.item;\n\n  // Check for errors\n  if (item.json.error) {\n    return {\n      json: {\n        isValid: false,\n        validationError: 'Gemini extraction failed',\n        messageId: item.json.messageId\n      }\n    };\n  }\n\n  // Get the text response from the correct path and clean markdown\n  let response = item.json.content?.parts?.[0]?.text || item.json.text || '';\n  response = response.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n\n  try {\n    const data = JSON.parse(response);\n\n    const isValid =\n      (data.customer_tax_id === null || data.customer_tax_id?.length >= 10) &&\n      data.customer_company?.length > 0 &&\n      data.invoice_issued_date?.match(/\\d{4}-\\d{2}-\\d{2}/) &&\n      data.invoice_number?.length > 0 &&\n      data.invoice_amount_gross !== undefined &&\n      data.currency?.length >= 3 &&\n      data.category?.length > 0;\n\n    return {\n      json: {\n        ...data,\n        isValid: isValid,\n        validationError: isValid ? null : 'Missing or invalid required fields',\n        messageId: item.json.messageId\n      },\n      binary: $('Analyze document').item.binary\n    };\n\n  } catch (e) {\n    return {\n      json: {\n        isValid: false,\n        validationError: 'JSON parse failed: ' + e.message,\n        rawResponse: response.substring(0, 200),\n        messageId: item.json.messageId\n      }\n    };\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5952,
        -2144
      ],
      "id": "2dfa06be-5d21-4878-ac7e-22092a60c7c5",
      "name": "Validate Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9979a91-7af3-4350-85c9-743d40b1d6f0",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5728,
        -2144
      ],
      "id": "e124fb64-acc3-4d24-9c6e-c1ebef3556da",
      "name": "Invoice Data Valid?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "= {{ $json.customer_company }}",
                    "rightValue": "QAgile Agnieszka",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "09d5a9e2-10ef-407c-a5ee-f6048cce5202"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "03145797-e043-4c75-81a1-a45e19f471e2",
                    "leftValue": "= {{ $json.customer_company }}",
                    "rightValue": "QAgile S",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5360,
        -2624
      ],
      "id": "59b75192-b503-4f97-bd32-6563538e2124",
      "name": "JDG or INC?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d104df1-45fd-4b4d-8a61-7fb7e4de2f06",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ new Date().getFullYear().toString() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b64160b4-55db-4dff-a6b8-432032996ce6",
              "leftValue": "={{ $json.folder }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5808,
        -2624
      ],
      "id": "67e9fc4d-18b5-4f0c-a510-2ac4e7ce3d00",
      "name": "Check Current Year Folder1"
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.destinationFolder }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -6032,
        -2624
      ],
      "id": "53e215dd-8d95-4d0b-af8b-bfafcf5c8f55",
      "name": "Get items in a folder1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65fe9802-0006-46fb-bbf1-5b2ca5d75a5b",
              "name": "destinationFolder",
              "value": "01VRIEXDMU3JIBMPTQZVDIPSQRP2PHT27U",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6256,
        -2624
      ],
      "id": "54c8c8e7-c14a-4725-8ed3-abd405150526",
      "name": "Spółka Destination",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d104df1-45fd-4b4d-8a61-7fb7e4de2f06",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ new Date().getFullYear().toString() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6ec3c878-4a60-46d7-aeea-0711b410bb9e",
              "leftValue": "={{ $json.folder }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5808,
        -2816
      ],
      "id": "728b0762-23cb-42e2-9561-17ca3dd1c2ff",
      "name": "Check Current Year Folder"
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.destinationFolder }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -6032,
        -2816
      ],
      "id": "a7a2eeee-6629-47e1-aefd-a0514df9bd09",
      "name": "Get items in a folder",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65fe9802-0006-46fb-bbf1-5b2ca5d75a5b",
              "name": "destinationFolder",
              "value": "01VRIEXDIR2USVY7CD6JCYMFAHVJEMFJ53",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6256,
        -2816
      ],
      "id": "5afeaf9d-7403-4e38-b31d-09afb20ba95f",
      "name": "JDG Destination",
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -5584,
        -2816
      ],
      "id": "acfe9a4e-4c99-4b74-b31c-1b3d0fb8ab1d",
      "name": "Get Months Folders JDG",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -5584,
        -2624
      ],
      "id": "0f0aa391-202a-425f-9455-10566da801de",
      "name": "Get Months Folders INC",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " const allItems = $('Invoice Data Valid?').all();\n  const folders = $('Get Months Folders JDG').all();\n  const results = [];\n\n  for (const item of allItems) {\n    const invoiceData = item.json;\n    const invoiceMonth = invoiceData['invoice_issued_month-pl'];\n    const matchingFolder = folders.find(folder => folder.json.name === invoiceMonth);\n\n    if (matchingFolder) {\n      const dateCompact = (invoiceData.invoice_issued_date || '').replace(/-/g, '');\n      const category = (invoiceData.category || 'unknown').toLowerCase();\n      const fileName = `${dateCompact}-${category}.pdf`;\n\n      const storeFileItem = $('StoreFile').all()[results.length];\n      const renamedBinary = {\n        currentFile: {\n          ...storeFileItem.binary.currentFile,\n          fileName: fileName\n        }\n      };\n\n      results.push({\n        json: {\n          folderId: matchingFolder.json.id,\n          folderName: matchingFolder.json.name,\n          folderPath: matchingFolder.json.webUrl,\n          fileName: fileName,\n          messageID: storeFileItem.json.messageID,\n          supplier_company: invoiceData.supplier_company,\n          customer_tax_id: invoiceData.customer_tax_id,\n          customer_company: invoiceData.customer_company,\n          invoice_number: invoiceData.invoice_number,\n          invoice_issued_date: invoiceData.invoice_issued_date,\n          invoice_amount_net: invoiceData.invoice_amount_net,\n          invoice_amount_tax: invoiceData.invoice_amount_tax,\n          invoice_amount_gross: invoiceData.invoice_amount_gross,\n          currency: invoiceData.currency,\n          category: invoiceData.category\n        },\n        binary: renamedBinary\n      });\n    }\n  }\n\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5136,
        -2720
      ],
      "id": "7f04b2d6-2acf-48ea-9a69-97fe825ac9f8",
      "name": "SelectJDGFolder"
    },
    {
      "parameters": {
        "jsCode": " const allItems = $('Invoice Data Valid?').all();\n  const folders = $('Get Months Folders INC').all();\n  const results = [];\n\n  for (const item of allItems) {\n    const invoiceData = item.json;\n    const invoiceMonth = invoiceData['invoice_issued_month-pl'];\n    const matchingFolder = folders.find(folder => folder.json.name === invoiceMonth);\n\n    if (matchingFolder) {\n      const dateCompact = (invoiceData.invoice_issued_date || '').replace(/-/g, '');\n      const category = (invoiceData.category || 'unknown').toLowerCase();\n      const fileName = `${dateCompact}-${category}.pdf`;\n\n      const storeFileItem = $('StoreFile').all()[results.length];\n      const renamedBinary = {\n        currentFile: {\n          ...storeFileItem.binary.currentFile,\n          fileName: fileName\n        }\n      };\n\n      results.push({\n        json: {\n          folderId: matchingFolder.json.id,\n          folderName: matchingFolder.json.name,\n          folderPath: matchingFolder.json.webUrl,\n          fileName: fileName,\n          messageID: storeFileItem.json.messageID,\n          supplier_company: invoiceData.supplier_company,\n          customer_tax_id: invoiceData.customer_tax_id,\n          customer_company: invoiceData.customer_company,\n          invoice_number: invoiceData.invoice_number,\n          invoice_issued_date: invoiceData.invoice_issued_date,\n          invoice_amount_net: invoiceData.invoice_amount_net,\n          invoice_amount_tax: invoiceData.invoice_amount_tax,\n          invoice_amount_gross: invoiceData.invoice_amount_gross,\n          currency: invoiceData.currency,\n          category: invoiceData.category\n        },\n        binary: renamedBinary\n      });\n    }\n  }\n\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5104,
        -2384
      ],
      "id": "a09d59a2-3afd-4a1a-bb6d-08a0b390742c",
      "name": "SelectINCFolder"
    },
    {
      "parameters": {
        "fileName": "{{ $json.fileName }}",
        "parentId": "={{ $('SelectJDGFolder').item.json.folderId }}",
        "binaryData": true,
        "binaryPropertyName": "={{ $('SelectJDGFolder').item.binary.currentFile }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -4768,
        -2720
      ],
      "id": "5dae6470-8626-49bd-b529-da8cf6ab4962",
      "name": "Upload a file1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec096b23-f3ce-4f96-b930-3c2963da10b3",
              "name": "currentFile",
              "value": "data",
              "type": "binary"
            },
            {
              "id": "db50e235-8034-492f-9bc3-7e00f09a83dc",
              "name": "messageID",
              "value": "={{ $('Has attachment').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6400,
        -2144
      ],
      "id": "bcf3d15b-511a-4fa8-9a6f-11e22ea7dc1e",
      "name": "StoreFile"
    },
    {
      "parameters": {
        "fileName": "{{ $json.fileName }}",
        "parentId": "={{ $('SelectINCFolder').item.json.folderId }}",
        "binaryData": true,
        "binaryPropertyName": "={{ $('SelectINCFolder').item.binary.currentFile }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -4736,
        -2384
      ],
      "id": "d038c342-3392-438b-9487-a4a8f6d22016",
      "name": "Upload a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "01VRIEXDKHG4RIJ75HYNEIK523PBMUVHR7",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Record"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "  fileName",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "column": "  category",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.category }}"
            },
            {
              "column": "invoice_number",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.invoice_number }}"
            },
            {
              "column": "  folderPath",
              "fieldValue": "={{ $json.parentReference.path }}"
            },
            {
              "column": "  processed_date",
              "fieldValue": "={{ new Date().toISOString().replace('T', ' ').substring(0, 19) }}"
            },
            {
              "column": "  invoice_amount_net",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.invoice_amount_net }}"
            },
            {
              "column": "  invoice_amount_gross",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.invoice_amount_gross }}"
            },
            {
              "column": "  supplier_company",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.supplier_company }}"
            },
            {
              "column": "  invoice_issued_date",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.invoice_issued_date }}"
            },
            {
              "column": "  currency",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.currency }}"
            },
            {
              "column": "  customer_tax_id",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.customer_tax_id }}"
            },
            {
              "column": "  customer_company",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.customer_company }}"
            },
            {
              "column": "  invoice_amount_tax",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.invoice_amount_tax }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        -4560,
        -2720
      ],
      "id": "f88e959c-22e2-463a-8c2c-d22a0b94b053",
      "name": "Append data to sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "3Qgyi4TOXVMCtl4f",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "01VRIEXDKHG4RIJ75HYNEIK523PBMUVHR7",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Record"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "  fileName",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "column": "  category",
              "fieldValue": "={{ $('SelectINCFolder').item.json.category }}"
            },
            {
              "column": "invoice_number",
              "fieldValue": "={{ $('SelectINCFolder').item.json.invoice_number }}"
            },
            {
              "column": "  folderPath",
              "fieldValue": "={{ $json.parentReference.path }}"
            },
            {
              "column": "  processed_date",
              "fieldValue": "={{ new Date().toISOString().replace('T', ' ').substring(0, 19) }}"
            },
            {
              "column": "  invoice_amount_net",
              "fieldValue": "={{ $('SelectINCFolder').item.json.invoice_amount_net }}"
            },
            {
              "column": "  invoice_amount_gross",
              "fieldValue": "={{ $('SelectINCFolder').item.json.invoice_amount_gross }}"
            },
            {
              "column": "  supplier_company",
              "fieldValue": "={{ $('SelectINCFolder').item.json.supplier_company }}"
            },
            {
              "column": "  invoice_issued_date",
              "fieldValue": "={{ $('SelectINCFolder').item.json.invoice_issued_date }}"
            },
            {
              "column": "  currency",
              "fieldValue": "={{ $('SelectINCFolder').item.json.currency }}"
            },
            {
              "column": "  customer_tax_id",
              "fieldValue": "={{ $('SelectINCFolder').item.json.customer_tax_id }}"
            },
            {
              "column": "  customer_company",
              "fieldValue": "={{ $('SelectINCFolder').item.json.customer_company }}"
            },
            {
              "column": "  invoice_amount_tax",
              "fieldValue": "={{ $('SelectINCFolder').item.json.invoice_amount_tax }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        -4512,
        -2384
      ],
      "id": "2f9f5852-27d6-4645-8f0b-1ed181afd8ea",
      "name": "Append data to sheet1",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "3Qgyi4TOXVMCtl4f",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $('SelectJDGFolder').item.json.messageID }}",
          "mode": "id"
        },
        "updateFields": {
          "isRead": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -4960,
        -2720
      ],
      "id": "592be37c-f1d4-4a4c-83dc-5ecdcba43656",
      "name": "Update a message",
      "webhookId": "1ba70a3d-654a-44d3-985f-e99eb2a19e46",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $('SelectINCFolder').item.json.messageID }}",
          "mode": "id"
        },
        "updateFields": {
          "isRead": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -4928,
        -2384
      ],
      "id": "4880975a-ac74-4b81-bf1c-5eb455422ccc",
      "name": "Update a message1",
      "webhookId": "1ba70a3d-654a-44d3-985f-e99eb2a19e46",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "content": "Find Current Year Folder",
        "height": 608,
        "width": 1008,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6432,
        -3056
      ],
      "typeVersion": 1,
      "id": "182fc866-fead-432c-8f51-e522a5a3a061",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "html_content": "={{ $('Get message body').item.json.body.content }}",
        "output_format": "file"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        -7840,
        -2032
      ],
      "id": "93e03a92-31bc-415c-a03c-b8d89b6de24a",
      "name": "Convert HTML to PDF",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "EnDeI9T4n7p4HmiX",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "107c1650-13b7-43c1-8bc0-8fe3052d121a",
              "leftValue": "={{ $('Has attachment').item.json.from }}",
              "rightValue": "@mailchimp.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -8112,
        -1680
      ],
      "id": "06168372-cafe-40c8-b7de-1c42fa0bb4a7",
      "name": "From Mailchip?"
    },
    {
      "parameters": {
        "content": "## Store Mailchimp Receipt as PDF",
        "height": 240,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7904,
        -2112
      ],
      "id": "184bf378-5a29-4169-8422-583c7ddd7549",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "output": "fields",
        "fields": [
          "isRead",
          "subject",
          "toRecipients",
          "receivedDateTime",
          "parentFolderId",
          "hasAttachments",
          "from"
        ],
        "filtersUI": {
          "values": {
            "filters": {
              "custom": "",
              "foldersToInclude": "={{ [\"AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAbkqOmAAAA=\",\"AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAbkqOmBAAA=\"] }}",
              "readStatus": "unread"
            }
          }
        },
        "options": {}
      },
      "id": "ee393d8d-0793-4f64-b0c9-b651f24b2313",
      "name": "Fetch Unread Emails From Faktury Folders",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -8864,
        -2400
      ],
      "webhookId": "264d6487-dc64-4208-b981-ce2c79b324f0",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": ""
        },
        "options": {
          "fields": [
            "displayName",
            "childFolderCount"
          ],
          "includeChildFolders": true,
          "folderId": {
            "__rl": true,
            "value": "AQMkAGY5ZmMxZjc3AC01MmJmLTQ1M2UtOWI5Mi1kYjVmNDAyNDY1ZjkALgAAA05J_jDlGsRBpxqG0H0FBBUBAHMz8TFmvohCmiMxcCocCIQAAAIBDAAAAA==",
            "mode": "list",
            "cachedResultName": "Inbox",
            "cachedResultUrl": "https://outlook.office365.com/mail/AQMkAGY5ZmMxZjc3AC01MmJmLTQ1M2UtOWI5Mi1kYjVmNDAyNDY1ZjkALgAAA05J_jDlGsRBpxqG0H0FBBUBAHMz8TFmvohCmiMxcCocCIQAAAIBDAAAAA%3D%3D"
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -9088,
        -2816
      ],
      "id": "5e4fb6f7-3816-4387-a0e3-ef33e2fa7622",
      "name": "Check Subfolders ID",
      "webhookId": "e7bf5279-c3a3-4c6e-82d9-81676b923422",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {
    "▶️ Start": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Check Subfolders ID": [
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAALP6zPxAAA=",
          "displayName": "Agora",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAABscPAmAAA=",
          "displayName": "Axa",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAADIPQULAAA=",
          "displayName": "BMW",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAAEBAXSAAA=",
          "displayName": "BNP Paribas",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAICa4_NAAA=",
          "displayName": "Budimex",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAHW5k3DAAA=",
          "displayName": "Chmura Krajowa",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAADkdlWfAAA=",
          "displayName": "Credi",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAGO2sBUAAA=",
          "displayName": "Deutche Telekom",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAL6h6FTAAA=",
          "displayName": "DHL",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAHdATR7AAA=",
          "displayName": "ETS",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAACx-2nWAAA=",
          "displayName": "HubSpot CRM",
          "childFolderCount": 1
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAACBeT7VAAA=",
          "displayName": "Intercars",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAL6h6FVAAA=",
          "displayName": "ISO",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAABlh2AxAAA=",
          "displayName": "KGHM",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAPEUGFnAAA=",
          "displayName": "KIR",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAKGQLdOAAA=",
          "displayName": "LinkedIn",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAJcUIOXAAA=",
          "displayName": "Mailchimp",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAGxzSENAAA=",
          "displayName": "mBank",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAIi8zfEAAA=",
          "displayName": "Meetup",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAADpn4bVAAA=",
          "displayName": "Mercedes",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAB8x-g4AAA=",
          "displayName": "Millenium",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAALP6zPyAAA=",
          "displayName": "Miquido",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAJcUIOWAAA=",
          "displayName": "Newsletters",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAAE78syAAA=",
          "displayName": "NN",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAABw8UBfAAA=",
          "displayName": "Orange",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAGyC6EHAAA=",
          "displayName": "PARP",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAABscPAlAAA=",
          "displayName": "Pekao SA",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAABdBDy5AAA=",
          "displayName": "Phillip Morris International",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAABlh2AwAAA=",
          "displayName": "PKO BP",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAJKDrCYAAA=",
          "displayName": "Pocket Guide",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAL6h6FUAAA=",
          "displayName": "Politechnika Grańska",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAZhhubSAAA=",
          "displayName": "Portal Biura",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAADIPQUKAAA=",
          "displayName": "PSM II",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAABXsLaAAA=",
          "displayName": "QAgile",
          "childFolderCount": 3
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAItNb3sAAA=",
          "displayName": "QAgile Sp zoo Sp k",
          "childFolderCount": 9
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAABEIqWAAA=",
          "displayName": "Raiffeisen",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAUjUXzHAAA=",
          "displayName": "Rubber Duck",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAGJWJ3sAAA=",
          "displayName": "S@S",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAHdATR6AAA=",
          "displayName": "Santander Consumer Bank",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAHDAQQvAAA=",
          "displayName": "Scrum.org",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAKDEVisAAA=",
          "displayName": "STS",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAACn8MeMAAA=",
          "displayName": "TMPL",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAC3j6zCAAA=",
          "displayName": "Value Streams",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAC_7DgzAAA=",
          "displayName": "Volvo",
          "childFolderCount": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAAK3_48AAA=",
          "displayName": "Done",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAACx-2nWAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 0,
          "totalItemCount": 102,
          "sizeInBytes": 14173013,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAbkqOmAAAA=",
          "displayName": "Faktury",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAABXsLaAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 3,
          "totalItemCount": 20,
          "sizeInBytes": 4705202,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAH8nlzWAAA=",
          "displayName": "Online",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAABXsLaAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 0,
          "totalItemCount": 627,
          "sizeInBytes": 22129976,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAH3xUUVAAA=",
          "displayName": "Webinar",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAABXsLaAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 0,
          "totalItemCount": 13,
          "sizeInBytes": 1117121,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAZa0LuZAAA=",
          "displayName": "Autopay",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAItNb3sAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 0,
          "totalItemCount": 10,
          "sizeInBytes": 1318872,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAARbPYeaAAA=",
          "displayName": "Business Sense",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAItNb3sAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 0,
          "totalItemCount": 183,
          "sizeInBytes": 50246031,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAW2WjdZAAA=",
          "displayName": "Creativa Legal",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAItNb3sAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 0,
          "totalItemCount": 4,
          "sizeInBytes": 1083726,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAbJlLc4AAA=",
          "displayName": "EduNitro",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAItNb3sAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 0,
          "totalItemCount": 0,
          "sizeInBytes": 0,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAbkqOmBAAA=",
          "displayName": "Faktury INC",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAItNb3sAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 25,
          "totalItemCount": 257,
          "sizeInBytes": 56030719,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAWizhjrAAA=",
          "displayName": "Maja Gawrońska",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAItNb3sAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 0,
          "totalItemCount": 341,
          "sizeInBytes": 80160481,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAYWogTpAAA=",
          "displayName": "Mayko",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAItNb3sAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 0,
          "totalItemCount": 94,
          "sizeInBytes": 24623542,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAALOZ8ESAAA=",
          "displayName": "Mentzen",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAItNb3sAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 0,
          "totalItemCount": 444,
          "sizeInBytes": 509551876,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAaBiO53AAA=",
          "displayName": "Stripe",
          "parentFolderId": "AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAItNb3sAAA=",
          "childFolderCount": 0,
          "unreadItemCount": 10,
          "totalItemCount": 24,
          "sizeInBytes": 2438922,
          "isHidden": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "▶️ Start": {
      "main": [
        [
          {
            "node": "Fetch Unread Emails From Faktury Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Emails?": {
      "main": [
        [
          {
            "node": "Has attachment",
            "type": "main",
            "index": 0
          },
          {
            "node": "JDG Destination",
            "type": "main",
            "index": 0
          },
          {
            "node": "Spółka Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has attachment": {
      "main": [
        [
          {
            "node": "Get Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get message body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachments": {
      "main": [
        [
          {
            "node": "PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF?": {
      "main": [
        [
          {
            "node": "Download attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message body": {
      "main": [
        [
          {
            "node": "From Mailchip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL1": {
      "main": [
        [
          {
            "node": "Filter PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PDFs": {
      "main": [
        [
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get links from message body": {
      "main": [
        [
          {
            "node": "Split URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split URLs": {
      "main": [
        [
          {
            "node": "Fetch URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download attachment": {
      "main": [
        [
          {
            "node": "Prepare Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output1": {
      "main": [
        [
          {
            "node": "StoreFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output2": {
      "main": [
        [
          {
            "node": "StoreFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prepare Output2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "Invoice Data Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Data Valid?": {
      "main": [
        [
          {
            "node": "JDG or INC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDG or INC?": {
      "main": [
        [
          {
            "node": "SelectJDGFolder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SelectINCFolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Year Folder1": {
      "main": [
        [
          {
            "node": "Get Months Folders INC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items in a folder1": {
      "main": [
        [
          {
            "node": "Check Current Year Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spółka Destination": {
      "main": [
        [
          {
            "node": "Get items in a folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Year Folder": {
      "main": [
        [
          {
            "node": "Get Months Folders JDG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items in a folder": {
      "main": [
        [
          {
            "node": "Check Current Year Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDG Destination": {
      "main": [
        [
          {
            "node": "Get items in a folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Months Folders JDG": {
      "main": [
        [
          {
            "node": "JDG or INC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Months Folders INC": {
      "main": [
        [
          {
            "node": "JDG or INC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SelectJDGFolder": {
      "main": [
        [
          {
            "node": "Update a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SelectINCFolder": {
      "main": [
        [
          {
            "node": "Update a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StoreFile": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file1": {
      "main": [
        [
          {
            "node": "Append data to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Append data to sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Mailchip?": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get links from message body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "StoreFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unread Emails From Faktury Folders": {
      "main": [
        [
          {
            "node": "Any Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a message": {
      "main": [
        [
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a message1": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d997d577-c0ba-4ad6-a353-13d47554bd91",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8af463c3a1c8c1c27ad66af312247488390cc524503942b2fa0e78016f32ae38"
  },
  "id": "aGu19fNOGsMOi4BZ",
  "tags": []
}