workflows/outlook-invoices-processing.json
{
  "name": "Outlook Invoices Processing v2",
  "nodes": [
    {
      "parameters": {},
      "id": "5512734f-e904-4d3e-9cb0-dc7efad5b644",
      "name": "▶️ Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2112,
        1904
      ]
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "text": "Extract invoice data from this document . \nReturn ONLY valid JSON (no markdown, no explanation):\n{\n  \"supplier_company\": \"supplier company name\",\n  \"customer_tax_id\": \"customer Polish Tax-Id (NIP) for QAgile company i.e. 5272928285 or 6171862496\",\n  \"customer_company\": \"company name\",\n  \"invoice_number\": \"invoice number string with numer like 123/12/22\",\n  \"invoice_issued_date\": \"YYYY-MM-DD\",\n\"invoice_issued_year\": \"year of issued date in YYYY format i.e. 2025\"\n\"invoice_issued_month-pl\": \"polish name of the issue data month if format MM Monthname i.e. 11 Listopad\",\n  \"invoice_amount_net\": 0.00,\n  \"invoice_amount_tax\": 0.00,\n  \"invoice_amount_gross\": 0.00,\n  \"currency\": \"international format like PLN, USD, EUR\",\n  \"category\": \"short-descriptive-slug\"\n}\n\nCATEGORY SLUG RULES:\n- Use 2-3 words maximum\n- Lowercase, dash-separated (kebab-case)\n- BE SPECIFIC: describe the actual service/product\n- Use English or recognizable brand names\n\nEXAMPLES:\n- Adobe Creative Cloud → \"adobe\"\n- Microsoft Office 365 → \"msoffice\"\n- Fuel/Gas station → \"paliwo\"\n- Car repair Dacia → \"dacia\"\n- Training course → \"szkolenie-agile\" or \"pspo-training\"\n- Medical insurance Medicover → \"medicover\"\n- Mobile Orange → \"orange\"\n- Anthropic API → \"anthropic\"\n- Mailchimp subscription → \"mailchimp\"\n- Office supplies → \"biuro\"\n- Printing services → \"wydruk\"\n- AWS cloud → \"aws\"\n- Car paint/supplies → \"lakier-auto\" or \"farba-volvo\"",
        "inputType": "binary",
        "binaryPropertyName": "=currentFile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        800,
        2160
      ],
      "id": "a9753de2-7d41-4639-a9b8-bad69b113fc7",
      "name": "Analyze document",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "wYQ2FRD5kxf1pBqT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger"
            }
          ],
          "string": [
            {
              "value1": "={{ $json.isRead }}",
              "value2": "={{ false }}"
            }
          ]
        }
      },
      "id": "42c43957-006b-42c3-8bba-5aa7d3980183",
      "name": "Any Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1664,
        1904
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasAttachments }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "0c24959a-6339-4308-9c3e-a3811e21ee72",
      "name": "Has attachment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1440,
        2160
      ]
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "fields": []
        }
      },
      "id": "62f4c77f-216a-4dd0-9fe9-fabb9c556682",
      "name": "Get Attachments",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -320,
        1984
      ],
      "webhookId": "d75ec46e-3153-427c-8d3b-cbb63ac9f816",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f68867d2-bc3a-4ed9-9b64-c7c957de0eb4",
              "leftValue": "={{ $json.contentType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        1984
      ],
      "id": "01d8fcb5-136c-4d36-976f-bb5bfec19282",
      "name": "PDF?"
    },
    {
      "parameters": {
        "content": "## Fetch PDF attachements ",
        "height": 192,
        "width": 1312,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        1952
      ],
      "typeVersion": 1,
      "id": "a464b14f-1b68-4a54-aade-1dab50d93ed2",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "output": "fields",
        "fields": [
          "body"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1216,
        2256
      ],
      "id": "3fde1255-896f-4318-8af8-4f12ebab01e5",
      "name": "Get message body",
      "webhookId": "b29af958-f0d2-4613-bb2d-78031fe128e4",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e31f8861-a441-40e2-baa7-4317d206b0fb",
              "leftValue": "={{ $json.headers[\"content-type\"] }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        2640
      ],
      "id": "d32df132-be68-47ea-a1c7-e8752afe0bc7",
      "name": "Filter PDFs"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        2640
      ],
      "id": "378bc7c4-67ae-49cb-880c-4766e974cc51",
      "name": "Fetch URL1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const bodyRaw = $json.body || '';\nlet body = '';\nif (typeof bodyRaw === 'string') {\n  body = bodyRaw;\n} else if (bodyRaw && bodyRaw.content) {\n  body = String(bodyRaw.content);\n} else if (bodyRaw) {\n  body = JSON.stringify(bodyRaw);\n}\n\nconst plainUrlPattern = /https?:\\/\\/[^\\s<>\"']+/gi;\nconst matches = body.match(plainUrlPattern);\nconst allUrls = matches ? matches : [];\n\nconst objectReturned = {json: {\n    messageId : $json.id,\n    links: allUrls\n  }\n}\n\nreturn objectReturned"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        2640
      ],
      "id": "4c8ddff6-8992-4691-91f4-ff9976d444fa",
      "name": "Get links from message body"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -688,
        2640
      ],
      "id": "72367b60-7b6c-4324-91bc-034d9329fbe0",
      "name": "Split URLs"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const messageId = $('Get message body').item.json.id;\nconst pdfFile = $binary.data;\n\nreturn {\n  json: { \n    messageId: messageId \n  },\n  binary: $input.item.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        2640
      ],
      "id": "208f41f9-1fb5-4e2a-b570-56bcff9c11aa",
      "name": "Prepare Output"
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Has attachment').item.json.id }}",
          "mode": "id"
        },
        "attachmentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        128,
        1984
      ],
      "id": "47c40f39-2d6f-4c44-9202-2807fb66689c",
      "name": "Download attachment",
      "webhookId": "66771a3d-4f76-4bff-9d19-ec33d48029da",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const messageId = $json.id;\n\n\nreturn {\n  json: { \n    messageId: messageId \n  },\n  binary: $input.item.binary\n};\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        1984
      ],
      "id": "1b44e86a-9320-4c3b-afcc-2613e2cf7bd5",
      "name": "Prepare Output1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst messageId = $json.messageId;\n\nreturn {\n  json: { \n    messageId: messageId,\n    fileName: $json.fileName,\n    mimeType: $json.mimeType\n  },\n  binary: $input.item.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        2640
      ],
      "id": "868129b0-432d-4722-ab4f-d5bac27a2bc3",
      "name": "Prepare Output2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb8f5ccd-7d12-4d0f-8410-2b71dcff4de8",
              "leftValue": "={{ Object.keys($binary).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        2640
      ],
      "id": "b60f6452-bc31-418b-b9ad-0cf3a692ddaf",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Fetch PDFs from links",
        "height": 320,
        "width": 1792
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        2560
      ],
      "typeVersion": 1,
      "id": "2e261c57-2237-4423-bd1f-f6c058a617a0",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n  const storeFiles = $('StoreFile').all();\n  const results = [];\n\n  for (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    const storeItem = storeFiles[i];\n\n    if (item.json.error) {\n      results.push({\n        json: {\n          isValid: false,\n          validationError: 'Gemini extraction failed',\n          messageId: storeItem ? storeItem.json.messageID : null\n        },\n        pairedItem: i\n      });\n      continue;\n    }\n\n    let response = item.json.content?.parts?.[0]?.text || item.json.text || '';\n    response = response.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n\n    try {\n      const data = JSON.parse(response);\n\n      const isValid =\n        (data.customer_tax_id === null || data.customer_tax_id?.length >= 10) &&\n        data.customer_company?.length > 0 &&\n        data.invoice_issued_date?.match(/\\d{4}-\\d{2}-\\d{2}/) &&\n        data.invoice_number?.length > 0 &&\n        data.invoice_amount_gross !== undefined &&\n        data.currency?.length >= 3 &&\n        data.category?.length > 0;\n\n      results.push({\n        json: {\n          ...data,\n          isValid: isValid,\n          validationError: isValid ? null : 'Missing or invalid required fields',\n          messageId: storeItem ? storeItem.json.messageID : null\n        },\n        binary: storeItem ? storeItem.binary : {},\n        pairedItem: i\n      });\n\n    } catch (e) {\n      results.push({\n        json: {\n          isValid: false,\n          validationError: 'JSON parse failed: ' + e.message,\n          rawResponse: response.substring(0, 200),\n          messageId: storeItem ? storeItem.json.messageID : null\n        },\n        pairedItem: i\n      });\n    }\n  }\n\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        2160
      ],
      "id": "2759dd5f-e371-43bd-a800-8163c423a064",
      "name": "Validate Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9979a91-7af3-4350-85c9-743d40b1d6f0",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        2160
      ],
      "id": "b272def3-5e9a-489e-aa7f-bd73e4fa5af3",
      "name": "Invoice Data Valid?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "= {{ $json.customer_company }}",
                    "rightValue": "Agnieszka",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "09d5a9e2-10ef-407c-a5ee-f6048cce5202"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "03145797-e043-4c75-81a1-a45e19f471e2",
                    "leftValue": "= {{ $json.customer_company }}",
                    "rightValue": "QAgile S",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1616,
        1680
      ],
      "id": "babf9059-c684-4163-8742-b78556d8b8f1",
      "name": "JDG or INC?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d104df1-45fd-4b4d-8a61-7fb7e4de2f06",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ new Date().getFullYear().toString() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b64160b4-55db-4dff-a6b8-432032996ce6",
              "leftValue": "={{ $json.folder }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        1680
      ],
      "id": "112c7a24-0948-4a1a-98cf-1153d243bcdf",
      "name": "Check Current Year Folder1"
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.destinationFolder }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        944,
        1680
      ],
      "id": "935e9b81-b682-473a-8652-c1cde976a9ad",
      "name": "Get items in a folder1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65fe9802-0006-46fb-bbf1-5b2ca5d75a5b",
              "name": "destinationFolder",
              "value": "01VRIEXDMU3JIBMPTQZVDIPSQRP2PHT27U",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        1680
      ],
      "id": "5e55eac2-9d36-4d0e-8090-b7a04ed235f5",
      "name": "Spółka Destination",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d104df1-45fd-4b4d-8a61-7fb7e4de2f06",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ new Date().getFullYear().toString() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6ec3c878-4a60-46d7-aeea-0711b410bb9e",
              "leftValue": "={{ $json.folder }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        1488
      ],
      "id": "6a25641c-eb89-498e-8546-418617febf2b",
      "name": "Check Current Year Folder"
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.destinationFolder }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        944,
        1488
      ],
      "id": "02e22954-667f-4aaa-a5a7-babf5be26c66",
      "name": "Get items in a folder",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65fe9802-0006-46fb-bbf1-5b2ca5d75a5b",
              "name": "destinationFolder",
              "value": "01VRIEXDIR2USVY7CD6JCYMFAHVJEMFJ53",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        1488
      ],
      "id": "99f6acdb-0960-46f2-89b7-bde744a5a08b",
      "name": "JDG Destination",
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1392,
        1488
      ],
      "id": "f4563512-d139-47f7-854c-87034e197616",
      "name": "Get Months Folders JDG",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1392,
        1680
      ],
      "id": "8dceda76-edaf-4072-ab75-30dc74123989",
      "name": "Get Months Folders INC",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\n  const folders = Array.from($('Get Months Folders JDG').all());\n  const results = [];\n\n  for (let i = 0; i < inputItems.length; i++) {\n    const item = inputItems[i];\n    const invoiceData = item.json;\n    const invoiceMonth = invoiceData['invoice_issued_month-pl'];\n    const matchingFolder = folders.find(folder => folder.json.name === invoiceMonth);\n\n    if (!matchingFolder) continue;\n\n    const dateCompact = (invoiceData.invoice_issued_date || '').replace(/-/g, '');\n    const category = (invoiceData.category || 'unknown').toLowerCase();\n    const invNum = (invoiceData.invoice_number || '').replace(/[^a-zA-Z0-9]/g, '-').replace(/-+/g, '-').replace(/^-|-$/g, '').substring(0, 30);\n    const fileName = `${dateCompact}-${category}-${invNum}.pdf`;\n\n    const binaryKeys = item.binary ? Object.keys(item.binary) : [];\n    const binaryKey = binaryKeys.find(k => k === 'currentFile') || binaryKeys[0];\n    const binaryData = binaryKey ? item.binary[binaryKey] : null;\n\n    const renamedBinary = binaryData ? {\n      currentFile: { ...binaryData, fileName: fileName }\n    } : {};\n\n    results.push({\n      json: {\n        folderId: matchingFolder.json.id,\n        folderName: matchingFolder.json.name,\n        folderPath: matchingFolder.json.webUrl,\n        fileName: fileName,\n        messageID: invoiceData.messageId,\n        supplier_company: invoiceData.supplier_company,\n        customer_tax_id: invoiceData.customer_tax_id,\n        customer_company: invoiceData.customer_company,\n        invoice_number: invoiceData.invoice_number,\n        invoice_issued_date: invoiceData.invoice_issued_date,\n        invoice_amount_net: invoiceData.invoice_amount_net,\n        invoice_amount_tax: invoiceData.invoice_amount_tax,\n        invoice_amount_gross: invoiceData.invoice_amount_gross,\n        currency: invoiceData.currency,\n        category: invoiceData.category\n      },\n      binary: renamedBinary\n    });\n  }\n\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        1584
      ],
      "id": "26c1a30b-c70b-4797-989c-796e446a2623",
      "name": "SelectJDGFolder"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\n  const folders = Array.from($('Get Months Folders INC').all());\n  const results = [];\n\n  for (let i = 0; i < inputItems.length; i++) {\n    const item = inputItems[i];\n    const invoiceData = item.json;\n    const invoiceMonth = invoiceData['invoice_issued_month-pl'];\n    const matchingFolder = folders.find(folder => folder.json.name === invoiceMonth);\n\n    if (!matchingFolder) continue;\n\n    const dateCompact = (invoiceData.invoice_issued_date || '').replace(/-/g, '');\n    const category = (invoiceData.category || 'unknown').toLowerCase();\n    const invNum = (invoiceData.invoice_number || '').replace(/[^a-zA-Z0-9]/g, '-').replace(/-+/g, '-').replace(/^-|-$/g, '').substring(0, 30);\n    const fileName = `${dateCompact}-${category}-${invNum}.pdf`;\n\n    const binaryKeys = item.binary ? Object.keys(item.binary) : [];\n    const binaryKey = binaryKeys.find(k => k === 'currentFile') || binaryKeys[0];\n    const binaryData = binaryKey ? item.binary[binaryKey] : null;\n\n    const renamedBinary = binaryData ? {\n      currentFile: { ...binaryData, fileName: fileName }\n    } : {};\n\n    results.push({\n      json: {\n        folderId: matchingFolder.json.id,\n        folderName: matchingFolder.json.name,\n        folderPath: matchingFolder.json.webUrl,\n        fileName: fileName,\n        messageID: invoiceData.messageId,\n        supplier_company: invoiceData.supplier_company,\n        customer_tax_id: invoiceData.customer_tax_id,\n        customer_company: invoiceData.customer_company,\n        invoice_number: invoiceData.invoice_number,\n        invoice_issued_date: invoiceData.invoice_issued_date,\n        invoice_amount_net: invoiceData.invoice_amount_net,\n        invoice_amount_tax: invoiceData.invoice_amount_tax,\n        invoice_amount_gross: invoiceData.invoice_amount_gross,\n        currency: invoiceData.currency,\n        category: invoiceData.category\n      },\n      binary: renamedBinary\n    });\n  }\n\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        1920
      ],
      "id": "8ddab933-8166-436c-89dd-582b7c8be69e",
      "name": "SelectINCFolder"
    },
    {
      "parameters": {
        "fileName": "={{ $json.fileName }} ",
        "parentId": "={{ $('SelectJDGFolder').item.json.folderId }}",
        "binaryData": true,
        "binaryPropertyName": "=currentFile"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        2048,
        1584
      ],
      "id": "faa44f7d-41fe-4e01-a588-48beeef20e3d",
      "name": "Upload a file1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec096b23-f3ce-4f96-b930-3c2963da10b3",
              "name": "currentFile",
              "value": "data",
              "type": "binary"
            },
            {
              "id": "db50e235-8034-492f-9bc3-7e00f09a83dc",
              "name": "messageID",
              "value": "={{ $('Has attachment').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        2160
      ],
      "id": "109ea73c-d51a-44bf-9964-a2ef8ec321d4",
      "name": "StoreFile"
    },
    {
      "parameters": {
        "fileName": "={{ $json.fileName }}",
        "parentId": "={{ $('SelectINCFolder').item.json.folderId }}",
        "binaryData": true,
        "binaryPropertyName": "=currentFile"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        2080,
        1920
      ],
      "id": "ffa79676-c00e-4982-85f9-26f1af7820de",
      "name": "Upload a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "TnsMOnxP20rBcpFv",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "01VRIEXDKHG4RIJ75HYNEIK523PBMUVHR7",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Record"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "  fileName",
              "fieldValue": "={{ $('Upload a file1').item.json.name }}"
            },
            {
              "column": "  category",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.category }}"
            },
            {
              "column": "invoice_number",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.invoice_number }}"
            },
            {
              "column": "  folderPath",
              "fieldValue": "={{ $('Upload a file1').item.json.parentReference.path }}"
            },
            {
              "column": "  processed_date",
              "fieldValue": "={{ new Date().toISOString().replace('T', ' ').substring(0, 19) }}"
            },
            {
              "column": "  invoice_amount_net",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.invoice_amount_net }}"
            },
            {
              "column": "  invoice_amount_gross",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.invoice_amount_gross }}"
            },
            {
              "column": "  supplier_company",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.supplier_company }}"
            },
            {
              "column": "  invoice_issued_date",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.invoice_issued_date }}"
            },
            {
              "column": "  currency",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.currency }}"
            },
            {
              "column": "  customer_tax_id",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.customer_tax_id }}"
            },
            {
              "column": "  customer_company",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.customer_company }}"
            },
            {
              "column": "  invoice_amount_tax",
              "fieldValue": "={{ $('SelectJDGFolder').item.json.invoice_amount_tax }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        2416,
        1584
      ],
      "id": "b0b45da4-eb7a-4688-a03f-da4eacff3391",
      "name": "Append data to sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "3Qgyi4TOXVMCtl4f",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "01VRIEXDKHG4RIJ75HYNEIK523PBMUVHR7",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Record"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "={{ $('Upload a file').item.json.name }}",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "column": "  category",
              "fieldValue": "={{ $('SelectINCFolder').item.json.category }}"
            },
            {
              "column": "invoice_number",
              "fieldValue": "={{ $('SelectINCFolder').item.json.invoice_number }}"
            },
            {
              "column": "  folderPath",
              "fieldValue": "={{ $('Upload a file').item.json.parentReference.path }}"
            },
            {
              "column": "  processed_date",
              "fieldValue": "={{ new Date().toISOString().replace('T', ' ').substring(0, 19) }}"
            },
            {
              "column": "  invoice_amount_net",
              "fieldValue": "={{ $('SelectINCFolder').item.json.invoice_amount_net }}"
            },
            {
              "column": "  invoice_amount_gross",
              "fieldValue": "={{ $('SelectINCFolder').item.json.invoice_amount_gross }}"
            },
            {
              "column": "  supplier_company",
              "fieldValue": "={{ $('SelectINCFolder').item.json.supplier_company }}"
            },
            {
              "column": "  invoice_issued_date",
              "fieldValue": "={{ $('SelectINCFolder').item.json.invoice_issued_date }}"
            },
            {
              "column": "  currency",
              "fieldValue": "={{ $('SelectINCFolder').item.json.currency }}"
            },
            {
              "column": "  customer_tax_id",
              "fieldValue": "={{ $('SelectINCFolder').item.json.customer_tax_id }}"
            },
            {
              "column": "  customer_company",
              "fieldValue": "={{ $('SelectINCFolder').item.json.customer_company }}"
            },
            {
              "column": "  invoice_amount_tax",
              "fieldValue": "={{ $('SelectINCFolder').item.json.invoice_amount_tax }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        2464,
        1920
      ],
      "id": "554cfcc6-c1d4-4e86-ac39-a40e290bd503",
      "name": "Append data to sheet1",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "3Qgyi4TOXVMCtl4f",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $('SelectJDGFolder').item.json.messageID }}",
          "mode": "id"
        },
        "updateFields": {
          "isRead": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2224,
        1584
      ],
      "id": "b0ae964f-fb2b-4268-8a5b-b6a5ec06ac74",
      "name": "Update a message",
      "webhookId": "1ba70a3d-654a-44d3-985f-e99eb2a19e46",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $('SelectINCFolder').item.json.messageID }}",
          "mode": "id"
        },
        "updateFields": {
          "isRead": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2272,
        1920
      ],
      "id": "70a6eedc-eda4-443a-b34e-3967b5612662",
      "name": "Update a message1",
      "webhookId": "1ba70a3d-654a-44d3-985f-e99eb2a19e46",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "content": "Find Current Year Folder",
        "height": 608,
        "width": 1008,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        1248
      ],
      "typeVersion": 1,
      "id": "d2827dfc-49d1-44f6-bb6f-da4b16a5dc48",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "html_content": "={{ $('Get message body').item.json.body.content }}",
        "output_format": "file"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        -864,
        2272
      ],
      "id": "db930020-12ec-46b4-a911-4c8cfe4b1919",
      "name": "Convert HTML to PDF",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "EnDeI9T4n7p4HmiX",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "107c1650-13b7-43c1-8bc0-8fe3052d121a",
              "leftValue": "={{ $('Has attachment').item.json.from.emailAddress.address }}",
              "rightValue": "@mailchimp.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1136,
        2624
      ],
      "id": "a4116003-1307-4ec4-b309-cbd07b4ab121",
      "name": "From Mailchip?"
    },
    {
      "parameters": {
        "content": "## Store Mailchimp Receipt as PDF",
        "height": 240,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        2192
      ],
      "id": "1441dd6f-b7c5-4f3d-9206-7ec8a1d63868",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "output": "fields",
        "fields": [
          "isRead",
          "subject",
          "toRecipients",
          "receivedDateTime",
          "parentFolderId",
          "hasAttachments",
          "from"
        ],
        "filtersUI": {
          "values": {
            "filters": {
              "custom": "",
              "foldersToInclude": "={{ [\"AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAbkqOmAAAA=\",\"AAMkAGY5ZmMxZjc3LTUyYmYtNDUzZS05YjkyLWRiNWY0MDI0NjVmOQAuAAAAAABOSfow5RrEQacahtB9BQQVAQBzM-ExZr6IQpojMXAqHAiEAAbkqOmBAAA=\"] }}",
              "readStatus": "unread"
            }
          }
        },
        "options": {}
      },
      "id": "3723d6ea-6ddb-4fe8-8ca4-5814d007af42",
      "name": "Fetch Unread Emails From Faktury Folders",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1888,
        1904
      ],
      "webhookId": "264d6487-dc64-4208-b981-ce2c79b324f0",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": ""
        },
        "options": {
          "fields": [
            "displayName",
            "childFolderCount"
          ],
          "includeChildFolders": true,
          "folderId": {
            "__rl": true,
            "value": "AQMkAGY5ZmMxZjc3AC01MmJmLTQ1M2UtOWI5Mi1kYjVmNDAyNDY1ZjkALgAAA05J_jDlGsRBpxqG0H0FBBUBAHMz8TFmvohCmiMxcCocCIQAAAIBDAAAAA==",
            "mode": "list",
            "cachedResultName": "Inbox",
            "cachedResultUrl": "https://outlook.office365.com/mail/AQMkAGY5ZmMxZjc3AC01MmJmLTQ1M2UtOWI5Mi1kYjVmNDAyNDY1ZjkALgAAA05J_jDlGsRBpxqG0H0FBBUBAHMz8TFmvohCmiMxcCocCIQAAAIBDAAAAA%3D%3D"
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -2112,
        1488
      ],
      "id": "32667cad-3fed-4ba8-9248-4f1dd62dcfd2",
      "name": "Check Subfolders ID",
      "webhookId": "e7bf5279-c3a3-4c6e-82d9-81676b923422",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q4KrO58AZ1g2xStp",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "▶️ Start": {
      "main": [
        [
          {
            "node": "Fetch Unread Emails From Faktury Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Emails?": {
      "main": [
        [
          {
            "node": "Has attachment",
            "type": "main",
            "index": 0
          },
          {
            "node": "JDG Destination",
            "type": "main",
            "index": 0
          },
          {
            "node": "Spółka Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has attachment": {
      "main": [
        [
          {
            "node": "Get Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get message body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachments": {
      "main": [
        [
          {
            "node": "PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF?": {
      "main": [
        [
          {
            "node": "Download attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message body": {
      "main": [
        [
          {
            "node": "From Mailchip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL1": {
      "main": [
        [
          {
            "node": "Filter PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PDFs": {
      "main": [
        [
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get links from message body": {
      "main": [
        [
          {
            "node": "Split URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split URLs": {
      "main": [
        [
          {
            "node": "Fetch URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download attachment": {
      "main": [
        [
          {
            "node": "Prepare Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output1": {
      "main": [
        [
          {
            "node": "StoreFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output2": {
      "main": [
        [
          {
            "node": "StoreFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prepare Output2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "Invoice Data Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Data Valid?": {
      "main": [
        [
          {
            "node": "JDG or INC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDG or INC?": {
      "main": [
        [
          {
            "node": "SelectJDGFolder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SelectINCFolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Year Folder1": {
      "main": [
        [
          {
            "node": "Get Months Folders INC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items in a folder1": {
      "main": [
        [
          {
            "node": "Check Current Year Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spółka Destination": {
      "main": [
        [
          {
            "node": "Get items in a folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Year Folder": {
      "main": [
        [
          {
            "node": "Get Months Folders JDG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items in a folder": {
      "main": [
        [
          {
            "node": "Check Current Year Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDG Destination": {
      "main": [
        [
          {
            "node": "Get items in a folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Months Folders JDG": {
      "main": [
        [
          {
            "node": "JDG or INC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Months Folders INC": {
      "main": [
        [
          {
            "node": "JDG or INC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SelectJDGFolder": {
      "main": [
        [
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SelectINCFolder": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StoreFile": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file1": {
      "main": [
        [
          {
            "node": "Update a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Update a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Mailchip?": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get links from message body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "StoreFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unread Emails From Faktury Folders": {
      "main": [
        [
          {
            "node": "Any Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a message": {
      "main": [
        [
          {
            "node": "Append data to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a message1": {
      "main": [
        [
          {
            "node": "Append data to sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "88069459-caaf-4749-b798-ef6f6ad76600",
  "meta": {
    "instanceId": "8af463c3a1c8c1c27ad66af312247488390cc524503942b2fa0e78016f32ae38"
  },
  "id": "onRzmQggVN6TBhFg",
  "tags": []
}